body{
    margin: 
}
.barabap{
    color: rgb(229, 224, 235);

}

.barabeta{
    background-color: rgb(78, 52, 20);
    height: ;
}

.chotabeta{
    background-color: rgb(47, 143, 143);
    height: 100px;
    width: 100vw;
}

