h1{
    color: rgb(199, 35, 35);
}
.lassan{
    color: rgb(25, 169, 206);
}
.links{
    color: rgb(86, 165, 40);
}
.list{
    color: chocolate;
}
dt{
    color: rgb(182, 30, 136);
}
.form{
    color: chartreuse;
}
.image{
    color: darkblue;
}